.footer{
    z-index: 1;

    bottom: 0;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #ebebeb;
    background: rgb(0, 0, 0, 0.5);

    width: 100%;

    margin-top: 30px;
}

.footer p{
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.7);

    cursor: pointer;
}