*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;

  background: url("../src/assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
}